@media screen and (min-width: 320px) and (max-width: 480px){
  body {
    display: inline-block;
  }

  header {
    margin-bottom: 16px;
  }

  header, main, footer {
    width: 100%;
  }

  form {
    margin-top: 24px;
  }

  #word {
    font-size: 32px;
  }

  #pronuncia {
    margin-top: 0;
  }

}

@media screen and (min-width: 481px){
  main {
    grid-template-rows: 65px 50px 1fr;
  }
}