@media screen and (min-width: 320px) and (max-width: 480px){
  body {
    display: inline-block;
  }

  header, main, footer {
    width: 100%;
  }

  form {
    margin-top: 24px;
  }

  #word {
    font-size: 32px;
  }

}