@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,700&display=swap');

body {
  display: grid;
}

header {
  justify-self: center;
  width: 40%;
}

main {
  width: 40%;
  justify-self: center;
}

.separator::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: grey;
  margin-left: 10px;
  margin-bottom: 3px;
}

button {
  background-color: transparent;
  border: none;
}

.source {
  display: none;
}

.display-on {
  display: block;
}

input {
  border: none;
  margin-left: 10px;
  background-color: #CDCDCD;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 300px;
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: #CDCDCD;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}