@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,700&display=swap');

body {
  display: grid;
}

.separator::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: grey;
  margin-left: 10px;
  margin-bottom: 3px;
}

button {
  background-color: transparent;
  border: none;
}

.source {
  display: none;
}

.display-on {
  display: block;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 